pytest
numpy
scipy
python-coveralls
pytest-cov
google-compute-engine # this is not needed, but boto fails on travis otherwise!
boto==2.48.0
pandas==0.22.0
gensim==3.2.0
scikit-learn==0.19.1
langdetect==1.0.7
pyenchant==2.0.0
pyphen==0.9.4
proselint==0.8.0
language-check==1.1
steem==0.18.103